.navbar{
    margin-left: 20%;
    margin-top: 4%;
   font-size: 100%;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav2{
    width: 11%;
}
#requ{
    color:white;
    float: right;
    margin-top: -3%;
    width: 9%;
    height: 18px;
    border-radius: 31px;
    padding: 16px 16px 28px 16px;
    margin-right: 25%;
    text-align: center;
    overflow: hidden;
    background-color:blue ;
}

.container{
    border: none;
    border-right: 10px;
    display: grid;
    grid-template-columns: 50%50%;
    margin: 60px 70px;
}
.down{
    color: white;
    background-color: blue;
    border-radius: 24px;
    width: 30%;
    height: 60px;
}
#img{
    width: 15%;
}
img{
    width: 60%;
}
h3{
    color: blue;
}
h1{
    font-size: 70px;
}
p{
    font-size: 20px;
}
#box{
    margin-left: 35%;
}